@{
    ViewData["Title"] = "Bokningsbekräftelse";
}

    <div class="container full-height">
        @if (ViewBag.CustomerName != null && ViewBag.CustomerName != "")
        {
            <h2>Tack för din bokning @ViewBag.CustomerName!</h2>
            <p>En bokningsbekräftelse har skickats till din e-postadress</p>
        }
        <div class="parallax-container">
            <div class="parallax"><img src="~/images/confirmation.jpg" class="responsive-img z-depth-1" alt="Booking confirmation thanks"></div>
        </div>

    </div>


