@model asp_projekt.Models.HotelBooking

@{
    ViewData["Title"] = "Redigera bokning";
}

    <div class="container">
        <h2>Redigera</h2>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="CheckIn" class="control-label"></label>
                        <input asp-for="CheckIn" class="form-control" />
                        <span asp-validation-for="CheckIn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CheckOut" class="control-label"></label>
                        <input asp-for="CheckOut" class="form-control" />
                        <span asp-validation-for="CheckOut" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NoOfPersons" class="control-label"></label>
                        <input asp-for="NoOfPersons" class="form-control" />
                        <span asp-validation-for="NoOfPersons" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RoomId" class="control-label"></label>
                        <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                        <span asp-validation-for="RoomId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ExtraInformation" class="control-label"></label>
                        <input asp-for="ExtraInformation" class="form-control" />
                        <span asp-validation-for="ExtraInformation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Spara" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Tillbaka</a>
        </div>

    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
