@model IEnumerable<asp_projekt.Models.Dish>

@{
    ViewData["Title"] = "Mat";
}

    <div class="container">
        <h2>Mat</h2>

        <p>
            <a asp-action="Create">Lägg till ny </a>
        </p>

        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Sök efter maträtt nedan
                    <input type="text" name="SearchString" id="dish-searchbox" value="@ViewData["currentFilter"]" />
                    <!--<input type="submit" value="Sök" class="btn btn-default" /> |-->
                    <a asp-action="Index">Visa alla</a>
                </p>
            </div>
        </form>

        <partial name="_DishPartial" />

    </div>
