@{
    ViewData["Title"] = "Bokningsbekräftelse";
}

    <div class="container full-height">
        <h2>Tack för din bokning!</h2>
        <p>En bokningsbekräftelse har skickats till din e-postadress</p>
    </div>

