@model IEnumerable<asp_projekt.Models.Drink>

@{
    ViewData["Title"] = "Dryck";
}

    <div class="container">
        <h2>Dryck</h2>

        <p>
            <a asp-action="Create">Lägg till ny</a>
        </p>

        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Sök dryck nedan
                    <input type="text" name="SearchString" id="drink-searchbox" value="@ViewData["currentFilter"]" />
                    <!--<input type="submit" value="Sök" class="btn btn-default" /> |-->
                    <a asp-action="Index">Visa alla</a>
                </p>
            </div>
        </form>

        <partial name="_DrinkPartial" />

    </div>
