@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bekräftelse av glömt lösenord";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>
        Kontrollera din inkorg för att återställa lösenordet
    </p>
    </div>

