@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Bekräftelse av registrering";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
               <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klicka här för att bekräfta registreringen</a>
            </p>
        }
        else
        {
            <p>
                Kontrollera din inkorg för att bekräfta registreringen
            </p>
        }
    }
    </div>
