@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bekräftelse av återställning av lösenord";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>
        Ditt lösenord har återställts --> <a asp-page="./Login">Logga in</a>.
    </p>
    </div>
